__pycache__/extras.cpython-312.pyc
__pycache__/LLM.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/postHandler.cpython-312.pyc
__pycache__/scrapeHandler.cpython-312.pyc
__pycache__
models/capybarahermes-2.5-mistral-7b.Q5_K_S.gguf
